<div class="add-room-modal">
    <div class="modal-content flex">
        <!-- Close icon -->
        <div class="modal-title flex">
            <h2>Add Room</h2>
            <button class="close-modal"><i class="fa-solid fa-xmark"></i></button>
        </div>
        <form class="add-room-form">
            <div class="form-group-room-type flex">
                <div class="room-type-major-info flex">
                    <input type="number" id="room-id" required placeholder="Room Id">
                    <input type="text" id="room-type" required placeholder="Enter name of the room">
                </div>
                <input type="text" id="room-img" required placeholder="URL of room image">
            </div>
            <div class="form-group-capacity">
                <label for="room-capacity">Room Capacity:</label>
                <select name="roomCapacity" id="room-capacity">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            <div class="form-group-bed-info">
                <label>Bed Information</label>
                <!-- King-Sized Bed -->
                <div class="bed-option">
                    <input type="checkbox" id="king-sized" name="bedInfo[king]" value="King Sized">
                    <label for="king-sized">King Sized</label>
                    <input type="number" name="bedInfo[kingCount]" min="1" max="2" id="king-sized-count"
                        placeholder="1 - 2">
                </div>

                <!-- Queen-Sized Bed -->
                <div class="bed-option">
                    <input type="checkbox" id="queen-sized" name="bedInfo[queen]" value="Queen Sized">
                    <label for="queen-sized">Queen Sized</label>
                    <input type="number" id="queen-sized-count" name="bedInfo[queenCount]" min="1" max="2"
                        placeholder="1 - 2">
                </div>

                <!-- Single Bed -->
                <div class="bed-option">
                    <input type="checkbox" id="single-sized" name="bedInfo[single]" value="Single Bed">
                    <label for="single-sized">Single Bed</label>
                    <input type="number" id="single-sized-count" name="bedInfo[singleCount]" min="1" max="3"
                        placeholder="1 - 3">
                </div>
            </div>
            <div class="room-info-rate">
                <label for="price">Price</label>
                <input type="number" id="price" name="price" min="0" required>
            </div>
            <button type="submit" class="submit-room-btn">Add Room</button>
        </form>
    </div>