<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/admin.css">
    <script src="https://kit.fontawesome.com/bed699dc9b.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Add new Room Modal  -->
    <div class="add-room-modal-placeholder"></div>
    </div>
    <!-- Edit room info Modal  -->
    <div class="edit-room-modal-placeholder"></div>
    <div class="wrapper">
        <aside class="sidebar">
            <div class="logo">Admin Dashboard</div>
            <ul class="sidebar-links">
                <!-- <li><button class="Dashboard">Dashboard</button></li> -->
                <!-- <li><button class="users-btn">User</button></li> -->
                <li><button class="bookings-btn">Bookings</button></li>
                <li><button class="manage-btn">Manage Rooms</button></li>
            </ul>
        </aside>
        <main>
            <div class="user-welcome">Hello user</div>
            <div class="main-content">
                <section class="content-section booking-section">
                    <h2>Recent Activity</h2>
                    <table class="activity-table">
                        <thead>
                            <tr>
                                <th>S.N</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Contact</th>
                                <th>Room Booked</th>
                                <!-- <th>Status</th> -->
                                <th>Check-in Date</th>
                            </tr>
                        </thead>
                        <tbody class="bookings-tbody">
                            <!-- <tr>
                            <td>124</td>
                            <td>Suite</td>
                            <td>300</td>
                            <td><span class="status booked">Booked</span></td>
                        </tr>
                        <tr>
                            <td>120</td>
                            <td>Deluxe Room</td>
                            <td>100</td>
                            <td><span class="status vacant">Vacant</span></td>
                        </tr> -->
                        </tbody>
                    </table>
                </section>
                <section class="content-section room-section">
                    <div class="table-top-section">
                        <h2>Room Info</h2>
                        <button class="add-room-btn">Add room <i class="fa-solid fa-plus"></i></button>
                    </div>

                    <table class="activity-table">
                        <thead>
                            <tr>
                                <th>Room Id</th>
                                <th>Room type</th>
                                <th>Rate</th>
                                <th>Status</th>
                                <th>Available From</th>
                                <th>Update</th>
                            </tr>
                        </thead>
                        <tbody class="manage-rooms-tbody">
                            <!-- <tr>
                                <td>124</td>
                                <td>Suite</td>
                                <td>300</td>
                                <td><span class="status booked">Booked</span></td>
                                <td>
                                    <button class="edit-data">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </button>
                                    <button class="delete-data">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>120</td>
                                <td>Deluxe Room</td>
                                <td>100</td>
                                <td><span class="status vacant">Vacant</span></td>
                                <td>
                                    <button class="edit-data"><i class="fa-solid fa-pen-to-square"></i></button>
                                    <button class="delete-data"> <i class="fa-solid fa-trash"></i></button>
                                </td>
                            </tr> -->
                        </tbody>
                    </table>
                </section>
            </div>
        </main>
    </div>
    <script src="../assets/js/admin.js" type="module"></script>
    <script src="../assets/js/modals.js" type="module"></script>
    <script src="../assets/js/fetch-localstorage.js" type="module"></script>
</body>

</html>