<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/bed699dc9b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/booking.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>

<body>
    <header>
        <div class="header-text">Hotel XYZ</div>
    </header>
    <main>
        <div class="personal-details-section flex">
            <p class="section-title">Personal Details</p>
            <div class="separator"></div>
            <form action="">
                <label for="name">Name</label>
                <input type="text" id="name">
                <label for="contact">Contact</label>
                <input type="number" id="contact">
                <label for="email">Email:</label>
                <input type="email" id="email">
            </form>
        </div>
        <div class="room-details-section flex">
            <div class="room-type">
                <p class="section-title">Room Details</p>
                <div class="separator"></div>
                <div class="dropdown-container flex">
                    <p>Room type:</p>
                    <div class="dropdown-select-item">
                        <span class="selected" id="room-type">
                            Select your option
                        </span>
                        <i class="fa-solid fa-caret-down"></i>
                    </div>
                    <div class="dropdown-options">
                        <ul id="option">
                            <!-- <li>Architecture</li>
                            <li>Love</li>
                            <li>Humor</li>
                            <li>Satire</li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <form action="" class="check-in-out">
                <label for="check-in">Check-in Date:</label>
                <input type="date" id="check-in">
                <label for="check-out">Check-out Date:</label>
                <input type="date" id="check-out">
                <label for="guest-number">Number of Guests</label>
                <input type="number" id="guest-number">
            </form>
            <div class="separator" id="price-separator"></div>
            <div class="pricing flex">
                <div class="price-label">Total Price:</div>
                <div class="price-details">500 <span>$</span></div>
            </div>
            <button class="book-btn">Book the room</button>
        </div>
    </main>
    <div class="error-container flex">
        <div class="error-left"><i class="fa-solid fa-exclamation flex"></i></div>
        <div class="error-right flex">
            <div class="error-text">Error occured</div>
            <div class="error-remove"><button class="error-remove-btn"><i class="fa-solid fa-xmark flex"></i></button>
            </div>
        </div>
    </div>
    <div class="success-wrapper">
        <div class="success-dialog-container">
            <div class="check-mark"><i class="fa-solid fa-check"></i></div>
            <div class="success-title">Sucess</div>
            <div class="success-info">Your room has been reserved</div>
            <div class="success-close"><button class="success-close-btn">Close</button></div>
        </div>
    </div>
    <!-- <div class="pop-up">
            <div class="result">
                <div class="result-title">Hello</div>
            <div class="result-info">
            </div>
            <div class="close-pop-up">
                <button id="close-btn">Close</button>
            </div>
        </div>
    </div> -->
    <script src="../assets/" type="module"></script>
    <script src="../assets/assets/js/dropdown.js" type="module"></script>
</body>

</html>