:root {
   --main-bg-color: #f1f1f1;
   --header-bg-color: #243642;
   --header-text-color: #ccd1d3;
   --text-color: #ffffff;
   --main-btn-color: #387478;
   --main-btn-hover-color: #2d5f63;
}
main {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   justify-items: center;
   justify-content: space-evenly;
}
.flex {
   display: flex;
}
.section-title {
   color: #0a2540;
   font-size: 3rem;
   font-weight: 600;
}
.separator {
   background-color: #b0b0b0;
   height: 1px;
   width: 100%;
   margin: 0.8rem 0 3rem 0;
}
form {
   font-size: 1.4rem;
}
.personal-details-section {
   padding: 3.1rem 3.5rem;
   margin: 2rem 0;
   width: 500px;
   max-width: 550px;
   background-color: #f5f5f5;
   flex-direction: column;
   box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
   border-radius: 14px;
   min-height: 40rem;
   height: 57rem;
}
.personal-details-section input {
   margin-bottom: 5rem;
}
label {
   display: block;
   font-size: 14px;
   margin-bottom: 5px;
}

input {
   max-width: 320px;
   width: 280px;
   padding: 0.8rem 1.2rem;
   margin-bottom: 2rem;
   border: 1px solid #ccc;
   border-radius: 6px;
   font-size: 1.4rem;
}

input:focus {
   border-color: #66afe9;
   outline: none;
   box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}

/* You can also group similar styles by input type */
input[type="text"] {
   background-color: #e9f5fc;
}
.room-details-section {
   background-color: #f5f5f5;
   padding: 3.1rem 2.5rem;
   margin: 2rem 0;
   min-height: 50rem;
   height: 70rem;
   width: 500px;
   max-width: 550px;
   flex-direction: column;
   gap: 5rem;
   box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
   border-radius: 14px;
}

.check-in-out {
   display: grid; /* Use grid layout for forms */
   grid-template-columns: repeat(2, 1fr); /* Two columns for symmetry */
   gap: 2rem; /* Space between inputs */
   align-items: center;
}
.check-in-out label {
   display: inline;
   margin-right: 4rem;
}
.check-in-out input {
   max-width: 250px;
   width: 250px;
}
.room-details-section button {
   background-color: var(--main-btn-color);
   color: var(--text-color);
   border: 0;
   outline: 0;
   transition: 0.6s;
   cursor: pointer;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
   padding: 1.1rem;
   font-size: 1.5rem;
   border-radius: 6px;
}
.room-details-section button:hover {
   background-color: var(--main-btn-hover-color);
   transform: translateY(-2px);
}
.dropdown-container {
   justify-content: space-between;
   align-items: center;
}
.dropdown-select-item {
   background-color: #f5f5f5;
   color: black;
}
.dropdown-select-item:hover {
   background-color: #f5f5f5;
}
.dropdown-options {
   background-color: #f5f5f5;
}
.dropdown-options ul li {
   color: black;
}
.dropdown-container p {
   font-size: 1.4rem;
}
.dropdown-options {
   width: 200px !important;
   max-width: 250px;
   right: 10px;
}

.pricing {
   justify-content: space-between;
   font-size: 1.6rem;
}
.price-details {
   font-size: 1.5rem;
}
#price-separator {
   margin: 0;
   height: 1px;
   width: 100%;
}

/* Error card styling */
.error-container {
   background-color: #ffb880;
   min-width: 28rem;
   width: 32rem;
   opacity: 0;
   justify-content: space-between;
   align-items: center;
   font-size: 1.3rem;
   position: absolute;
   top: 20px;
   right: 35px;
   border-left: 6px solid #d64b18;
   box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
.error-left {
   /* margin-left: 4px; */
   padding: 1rem 0.9rem;
   /* background-color: #e67e22; */
}
.error-left i {
   color: #ffffff;
   opacity: 0.7;
   background-color: #ff4500;
   width: 4rem;
   height: 4rem;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   font-size: 1.7rem;
}
.error-right {
   font-size: 1.4rem;
   width: 100%;
   padding-left: 3rem;
   justify-content: space-between;
   /* width: 70%; */
   align-items: center;
}
.error-right .error-text {
   color: #333333;
   font-size: 1.5rem;
}
.error-remove {
   cursor: pointer;
   transition: 0.5s;
}
.error-remove button {
   all: unset;
   background-color: #ff7d16;
   padding: 1rem 0.9rem;
}
.error-remove button:hover {
   background-color: #cf6006;
}
.error-right i {
   width: 4rem;
   height: 4rem;
   font-size: 1.7rem;
   justify-content: center;
   align-items: center;
   color: white;
}
.error-container.visible {
   animation: error-visible 1s ease-in-out;
   opacity: 1;
}
.error-container.hide {
   animation: error-hide 1.2s ease-in-out;
   /* display: none; */
   transition: opacity 4s;
   opacity: 0;
}
@keyframes error-visible {
   0% {
      transform: translateX(100%);
   }
   40% {
      transform: translateX(-10%);
   }
   80% {
      transform: translateX(0%);
   }
   100% {
      transform: translateX(-10px);
   }
}
@keyframes error-hide {
   0% {
      transform: translateX(-2%);
   }
   40% {
      transform: translateX(0%);
   }
   80% {
      transform: translateX(-10%);
   }
   100% {
      transform: translateX(100%);
   }
}
