:root {
   --main-bg-color: #f1f1f1;
   --header-bg-color: #243642;
   --header-text-color: #ccd1d3;
   --text-color: #ffffff;
   --main-btn-color: #387478;
   --main-btn-hover-color: #2d5f63;
}
main {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   justify-items: center;
   justify-content: space-evenly;
}
.section-title {
   color: #0a2540;
   font-size: 3rem;
   font-weight: 600;
}
.separator {
   background-color: #b0b0b0;
   height: 1px;
   width: 100%;
   margin: 0.8rem 0 3rem 0;
}
form {
   font-size: 1.4rem;
}
.personal-details-section {
   padding: 3.1rem 3.5rem;
   margin: 2rem 0;
   display: flex;
   width: 500px;
   max-width: 550px;
   background-color: #f5f5f5;
   flex-direction: column;
   box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
   border-radius: 14px;
   min-height: 40rem;
   height: 57rem;
}
.personal-details-section input {
   margin-bottom: 5rem;
}
label {
   display: block;
   font-size: 14px;
   margin-bottom: 5px;
}

input {
   max-width: 320px;
   width: 280px;
   padding: 0.8rem 1.2rem;
   margin-bottom: 2rem;
   border: 1px solid #ccc;
   border-radius: 6px;
   font-size: 1.4rem;
}

input:focus {
   border-color: #66afe9;
   outline: none;
   box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}

/* You can also group similar styles by input type */
input[type="text"] {
   background-color: #e9f5fc;
}
.room-details-section {
   background-color: #f5f5f5;
   padding: 3.1rem 2.5rem;
   margin: 2rem 0;
   min-height: 50rem;
   height: 70rem;
   display: flex;
   width: 500px;
   max-width: 550px;
   flex-direction: column;
   gap: 5rem;
   box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
   border-radius: 14px;
}

.check-in-out {
   display: grid; /* Use grid layout for forms */
   grid-template-columns: repeat(2, 1fr); /* Two columns for symmetry */
   gap: 2rem; /* Space between inputs */
   align-items: center;
}
.check-in-out label {
   display: inline;
   margin-right: 4rem;
}
.check-in-out input {
   max-width: 250px;
   width: 250px;
}
.room-details-section button {
   background-color: var(--main-btn-color);
   color: var(--text-color);
   border: 0;
   outline: 0;
   transition: 0.6s;
   cursor: pointer;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
   padding: 1.1rem;
   font-size: 1.5rem;
   border-radius: 6px;
}
.room-details-section button:hover {
   background-color: var(--main-btn-hover-color);
   transform: translateY(-2px);
}
.dropdown-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.dropdown-select-item {
   background-color: #f5f5f5;
   color: black;
}
.dropdown-select-item:hover {
   background-color: #f5f5f5;
}
.dropdown-options {
   background-color: #f5f5f5;
}
.dropdown-options ul li {
   color: black;
}
.dropdown-container p {
   font-size: 1.4rem;
}
.dropdown-options {
   width: 200px !important;
   max-width: 250px;
   right: 10px;
}

.pricing{
   display: flex;
   justify-content: space-between;
   font-size: 1.6rem;
}
.price-details{
   font-size: 1.5rem;
}
#price-separator{
   margin: 0;
   height: 1px;
   width: 100%;
}
/* Popup styling */
.pop-up {
   height: 100vh;
   width: 100vw;
   position: absolute;
   display: none;
   top: 0;
   border-radius: 10px;
   justify-content: center;
   align-items: center;
   z-index: 999;
   font-family: "Poppins";
}
.result {
   width: 40rem;
   display: none;
   padding: 3rem 2rem;
   border-radius: 20px;
   background-color: #fafafa;
   border-radius: 20px;
   box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
   color: black;
   font-size: 1.4rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   font-weight: 400;
}
.result .result-title {
   font-size: 2.4rem;
   margin-bottom: 1rem;
   letter-spacing: 1.8px;
   font-weight: 700;
   color: #333;
}
.result .result-info {
   margin: 3rem 0;
   font-size: 1.8rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 14px;
   font-weight: 500;
}

.result .result-highlight {
   font-weight: 700;
   font-size: 2.4rem;
   color: #28a745;
}
.result .close-pop-up {
   margin: 2rem 0 1rem 0;
}
.result .close-pop-up button {
   padding: 1.5rem 5rem;
   border: none;
   background-color: #007bff;
   color: white;
   border-radius: 10px;
   font-size: 1.6rem;
   cursor: pointer;
   transition: 0.5s;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.result .close-pop-up button:hover {
   background-color: #0056b3;
   box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
.fly-in {
   animation: scale-in 0.3s linear forwards;
}
.fly-out {
   animation: scale-out 0.4s linear;
}

@keyframes scale-in {
   from {
      transform: rotateX(90deg) scale(0);
      opacity: 0;
   }
   to {
      transform: rotateX(6deg) scale(1.2);
      opacity: 1;
   }
}
@keyframes scale-out {
   from {
      transform: rotateX(6deg) scale(1.2);
      opacity: 1;
   }
   to {
      transform: rotateX(90deg) scale(0);
      opacity: 0;
   }
}
