* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins";
}
:root {
   --main-bg-color: #f1f1f1;
   --header-bg-color: #243642;
   --header-text-color: #ccd1d3;
   --text-color: #ffffff;
   --main-btn-color: #387478;
   --main-btn-hover-color: #2d5f63;
}
::selection {
   color: white;
   background: rgba(0, 150, 136, 0.8); /* Teal */
}

html {
   font-size: 62.5%;
}
body {
   overflow-x: hidden;
}
header {
   height: 15vh;
   background-color: var(--header-bg-color);
   display: flex;
   justify-content: center;
   letter-spacing: 1.5px;
   align-items: center;
   font-size: 3.8rem;
   user-select: none;
   color: var(--header-text-color);
}
main {
   background-color: var(--main-bg-color);
   background-image: radial-gradient(rgba(0, 0, 0, 0.2) 1px, transparent 0);
   background-size: 60px 60px;
   padding-top: 1px;
   min-height: calc(100vh - 15vh);
}
.search-area {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   padding: 2.4rem 2.4rem;
   margin-top: 2rem;
}
input {
   user-select: none;
   padding: 0.9rem 1rem;
   width: 250px;
   min-width: 80px;
   transition: 0.9s;
   border-radius: 8px;
   border-color: #6b8385;
   outline: 0;
   border: 0;
}
.search-area #search-room:focus {
   border: 1px solid #6b8385;
   box-shadow: none;
}
.room-card-area {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
   justify-items: center;
   margin-top: 3rem;
   padding: 1rem 2.5rem;
   gap: 4rem 3.5rem;
   justify-self: center;
}
.room-card {
   background-color: var(--header-bg-color);
   /* width: 50%; */
   border-radius: 14px;
   overflow: hidden;
   color: var(--text-color);
   margin: 1rem;
   user-select: none;
}
.room-card img {
   width: 100%;
   height: auto;
}
.room-card .room-type {
   user-select: text;
   padding-top: 3rem;
   margin-top: 0.8rem;
   text-align: center;
   font-size: 2rem;
   font-weight: bold;
}
.room-card .room-info .separator {
   width: 0.5px;
   height: 10px;
   background-color: #e3e3e3;
}
.room-card .room-info {
   padding: 3rem 0;
   user-select: text;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
   font-size: 1.4rem;
}
.room-card .room-reserve-btn {
   text-align: center;
   padding: 2.5rem 0;
}
.room-card button {
   border: none;
   background-color: var(--main-btn-color);
   color: var(--text-color);
   padding: 0.8rem 2.4rem;
   cursor: pointer;
   border-radius: 8px;
}
.room-card button:hover {
   background-color: var(--main-btn-hover-color); /* Darker on hover */
}
/* Dropdown section  */
.dropdown-container {
   position: relative;
   user-select: none;
}
.dropdown-select-item {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
   background-color: #1e293b;
   padding: 1rem 3.4rem;
   color: #f9fafb;
   font-size: 1.4rem;
   border-radius: 6px;
   position: relative;
   z-index: 1;
   transition: 0.6s;
   box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
   cursor: pointer;
}
.select {
   width: 13rem;
}
i {
   transition: 0.5s;
}
.dropdown-select-item.active i {
   transform: rotate(-180deg);
}
.dropdown-select-item:hover {
   background-color: #3b82f6;
}
.dropdown-options.visible {
   animation: fly-in 0.5s forwards;
   display: block !important;
}
@keyframes fly-in {
   from {
      transform: translateY(-10px); /* Start slightly above */
      opacity: 0; /* Fully transparent */
   }
   to {
      transform: translateY(0); /* End at original position */
      opacity: 1; /* Fully visible */
   }
}
.dropdown-options {
   background-color: #1e293b;
   padding: 1rem 2.4rem;
   margin-top: 1rem;
   border-radius: 6px;
   display: none;
   position: absolute;
   top: 40px;
   width: 100%;
   box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
}
.dropdown-options ul li {
   color: #f9fafb;
   font-size: 1.3rem;
   padding: 0.8rem 2.2rem;
   transition: 0.6s;
   background-color: transparent;
   border-radius: 12px;
   margin: 1.2rem 0;
}
.dropdown-options ul li:hover {
   background-color: #64748b;
   color: #e0f2fe;
}
ul {
   list-style-type: none;
}
@media (max-width: 480px) {
   header {
      font-size: 2.5rem; /* Even smaller font size */
   }
   .search-area {
      flex-direction: column;
      gap: 40px;
   }
   .room-card {
      max-width: 80%; /* Full width on mobile */
   }
}
